<h2> Registro</h2>
<hr>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">

        <!-- Nombre -->
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Nombre del usuario">

          <span *ngIf="isValidField('name')" class="form-text text-danger">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Email del usuario">

          <span *ngIf="isValidField('email')" class="form-text text-danger">
            Mensaje de error del email
          </span>
        </div>

        <!-- Username -->
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Nombre código del usuario">

          <span *ngIf="isValidField('username')" class="form-text text-danger">
            El username no puede ser a123
          </span>
        </div>

        <!-- Password -->
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password de su cuenta">

          <span *ngIf="isValidField('password')" class="form-text text-danger">
            La contraseña debe ser mayor de 6 caracteres.
          </span>
        </div>

        <!-- Password2 -->
        <div class="mb-3">
          <label class="form-label">Confirmar</label>
          <input type="password" class="form-control" formControlName="password2" placeholder="Confirmar la contraseña">

          <span *ngIf="isValidField('password2')" class="form-text text-danger">
            Las contraseñas deben ser iguales
          </span>
        </div>

        <div class="d-grid">
          <button class="btn btn-primary btn-dark" type="submit">
            Crear
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
