@if (!userLoginOn) {
<p>Usuario NO autenticado</p>
<app-header></app-header>
<app-section></app-section>
<app-footer></app-footer>
}@else{
@if (userLoginOn) {
<p>Usuario Autenticado</p>
}
}
@if (userLoginOn) {
<section class="bikes container">
  <h2 class="mt-5 mb-4">Nuestras Bicicletas</h2>

  <div class="row">
    <!-- Bike 1 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic1.jpeg" alt="Bicicleta de Montaña" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta de Montaña</h3>
          <p class="card-text">Precio: $20/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic1.jpeg" alt="Bicicleta de Montaña" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta de Montaña</h3>
          <p class="card-text">Precio: $20/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic1.jpeg" alt="Bicicleta de Montaña" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta de Montaña</h3>
          <p class="card-text">Precio: $20/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>

    <!-- Bike 2 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic2.jpeg" alt="Bicicleta Urbana" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta Urbana</h3>
          <p class="card-text">Precio: $15/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic2.jpeg" alt="Bicicleta Urbana" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta Urbana</h3>
          <p class="card-text">Precio: $15/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic2.jpeg" alt="Bicicleta Urbana" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta Urbana</h3>
          <p class="card-text">Precio: $15/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>

    <!-- Bike 3 -->
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic3.jpeg" alt="Bicicleta Urbana" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta Urbana</h3>
          <p class="card-text">Precio: $15/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="assets/img/bic3.jpeg" alt="Bicicleta Urbana" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">Bicicleta Urbana</h3>
          <p class="card-text">Precio: $15/día</p>
          <button class="btn">Alquilar</button>
        </div>
      </div>
    </div>
  </div>


</section>
}
